<div class="container mx-auto pt-4">

  <div class="flex mb-12">
    <div class="w-full">
      <h1 class="px-2 text-center text-4xl sm:px-0">
        Total Confirmed Cases
      </h1>
    </div>
  </div>

  <div class="flex mb-6">
    <div class="w-full">
      <h1 class="px-2 text-2xl sm:px-0">
        Canada
      </h1>
    </div>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{key: "Canada", cases: %{"Canada": @current_cases["Canada"]}, predictions: %{"Canada": @modeled_cases["Canada"]}}) %>
      </div>
    </div>
  </div>

  <div class="flex mb-6 mt-16">
    <div class="w-full">
      <h1 class="px-2 text-2xl sm:px-0">
        Italy
      </h1>
    </div>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{key: "Italy", cases: %{"Italy": @current_cases["Italy"]}, predictions: %{"Italy": @modeled_cases["Italy"]}}) %>
      </div>
    </div>
  </div>

  <div class="flex mb-6 mt-16">
    <div class="w-full">
      <h1 class="px-2 text-2xl sm:px-0">
        US
      </h1>
    </div>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{key: "US", cases: %{"US": @current_cases["US"]}, predictions: %{"US": @modeled_cases["US"]}}) %>
      </div>
    </div>
  </div>

  <div class="flex mb-6 mt-16">
    <div class="w-full">
      <h1 class="px-2 text-2xl sm:px-0">
        South Korea
      </h1>
    </div>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{key: "KS", cases: %{"Korea, South": @current_cases["Korea, South"]}, predictions: %{"Korea, South": @modeled_cases["Korea, South"]}}) %>
      </div>
    </div>
  </div>


  <div class="flex mb-6 mt-16">
    <div class="w-full">
      <h1 class="px-2 text-2xl sm:px-0">
        Comparison
      </h1>
    </div>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{key: "ALL", cases: @current_cases, predictions: @modeled_cases}) %>
      </div>
    </div>
  </div>

</div>
