<div class="container mx-auto pt-4 relative">

  <div class="flex">
    <div class="w-full">
      <h1 class="mb-8 px-2 text-center text-4xl sm:px-0">
        Total Confirmed Cases
      </h1>
    </div>
  </div>


  <div class="flex mb-6 mt-10">
    <div class="w-1/3">
      <h1 class="px-2 text-2xl sm:px-0">
        Canada
      </h1>
    </div>

    <%= render("controls.html", model_type: @model_type) %>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{
          key: "Canada",
          cases: %{"Canada": @current_cases["Canada"]},
          predictions: %{"Canada": @modeled_cases["Canada"]},
          dates: @dates,
          countries_with_colors: @countries_with_colors}) %>
      </div>
    </div>
  </div>

  <div class="flex mb-6 mt-16">

    <div class="w-1/3">
      <h1 class="px-2 text-2xl sm:px-0">
        Italy
      </h1>
    </div>

    <%= render("controls.html", model_type: @model_type) %>
  </div>


  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{
          key: "Italy",
          cases: %{"Italy": @current_cases["Italy"]},
          predictions: %{"Italy": @modeled_cases["Italy"]},
          dates: @dates,
          countries_with_colors: @countries_with_colors}) %>
      </div>
    </div>
  </div>

  <div class="flex mb-6 mt-16">
    <div class="w-1/3">
      <h1 class="px-2 text-2xl sm:px-0">
        US
      </h1>
    </div>

    <%= render("controls.html", model_type: @model_type) %>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{
          key: "US",
          cases: %{"US": @current_cases["US"]},
          predictions: %{"US": @modeled_cases["US"]},
          dates: @dates,
          countries_with_colors: @countries_with_colors
         }) %>
      </div>
    </div>
  </div>

  <div class="flex mb-6 mt-16">
    <div class="w-1/3">
      <h1 class="px-2 text-2xl sm:px-0">
        South Korea
      </h1>
    </div>

    <%= render("controls.html", model_type: @model_type) %>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{
          key: "KS",
          cases: %{"Korea, South": @current_cases["Korea, South"]},
          predictions: %{"Korea, South": @modeled_cases["Korea, South"]},
          dates: @dates,
          countries_with_colors: @countries_with_colors}) %>
      </div>
    </div>
  </div>


  <div class="flex mb-6 mt-16">
    <div class="w-full">
      <h1 class="px-2 text-2xl sm:px-0">
        Comparison
      </h1>
    </div>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <%= live_react_component("Components.Chart", %{
            key: "ALL",
            cases: @current_cases,
            predictions: @modeled_cases,
            dates: @dates,
            countries_with_colors: @countries_with_colors}) %>
        </div, dates: @dates>
      </div>
    </div>

  </div>
