<div class="container mx-auto pt-4">

  <div class="flex mb-6">
    <div class="w-full">
      <h1 class="text-3xl">
        Tracking Corona in Canada
      </h1>
    </div>
  </div>

  <div class="bg-white rounded-lg px-5 py-6 shadow sm:px-6">
    <div class="flex py-10">
      <div class="w-full">
        <div id="chart" data-cases="<%=  Jason.encode!(@cases) %>"></div>
      </div>
    </div>
  </div>

</div>
